PRY_VARIOS_REPINTETL/WSDL/CRM2015.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="persona" type="tns:BE_Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BE_Persona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="upc_codigodepersona" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="middlename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="gendercode" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="birthdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_tipodocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_numerodocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_estadocivil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_personanacionalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_departamentonacimiento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="upc_presentadiscapacidad" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="statecode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_motivoinactivacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobilephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailaddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailaddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_line1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_stateorprovince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1_county" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_u_estadomatricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_estadomatricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_u_facultadid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_lineanegocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_unidadnegocioid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_modalidadestudioid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_modalidadingreso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_categoriapago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_programa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_programadsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_programaanterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_programaanteriordsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_sedeid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_periodoultimamatricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_codigodealumno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_codigodeusuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_correoelectronicomatricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_u_programaid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_lineanegocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_unidadnegocioid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_modalidadestudioid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_modalidadingreso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_categoriapago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_programa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_programadsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_sedeid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_periodoultimamatricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_codigodealumno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_codigodeusuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_correoelectronicomatricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_e_programaid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_maximonivelacademico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_colegioprocedencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_direccioncolegio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_anoegreso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_tipoinstitucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_nombreinstitucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_direccioninstitucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_ia_gradoacademicoobtenido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_il_nombreempresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upc_il_direccionempresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="jobtitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailaddress3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pager" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="upc_prioridadmatricula" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="preferredcontactmethodcode" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendContactResult" type="tns:BE_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BE_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoPersona" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendParentesco">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connection" type="tns:BE_Connection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BE_Connection">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoPersona" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoPariente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoParentesco" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendParentescoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendParentescoResult" type="tns:BE_ResponseConn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BE_ResponseConn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoPersona" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoPariente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendContactSoapIn">
    <wsdl:part name="parameters" element="tns:SendContact" />
  </wsdl:message>
  <wsdl:message name="SendContactSoapOut">
    <wsdl:part name="parameters" element="tns:SendContactResponse" />
  </wsdl:message>
  <wsdl:message name="SendParentescoSoapIn">
    <wsdl:part name="parameters" element="tns:SendParentesco" />
  </wsdl:message>
  <wsdl:message name="SendParentescoSoapOut">
    <wsdl:part name="parameters" element="tns:SendParentescoResponse" />
  </wsdl:message>
  <wsdl:portType name="DevXrmServiceSoap">
    <wsdl:operation name="SendContact">
      <wsdl:input message="tns:SendContactSoapIn" />
      <wsdl:output message="tns:SendContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendParentesco">
      <wsdl:input message="tns:SendParentescoSoapIn" />
      <wsdl:output message="tns:SendParentescoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DevXrmServiceSoap" type="tns:DevXrmServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendContact">
      <soap:operation soapAction="http://tempuri.org/SendContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendParentesco">
      <soap:operation soapAction="http://tempuri.org/SendParentesco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DevXrmServiceSoap12" type="tns:DevXrmServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendContact">
      <soap12:operation soapAction="http://tempuri.org/SendContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendParentesco">
      <soap12:operation soapAction="http://tempuri.org/SendParentesco" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DevXrmService">
    <wsdl:port name="DevXrmServiceSoap" binding="tns:DevXrmServiceSoap">
      <soap:address location="http://10.10.0.244:9030/Services/DevXrmService.asmx" />
    </wsdl:port>
    <wsdl:port name="DevXrmServiceSoap12" binding="tns:DevXrmServiceSoap12">
      <soap12:address location="http://10.10.0.244:9030/Services/DevXrmService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>